.listingTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-spacing: 0;
    font-size: 1rem;
    text-transform: none;
}

.listingTable button .icon > svg,
.listingTable button span .icon {
    width: 1.4rem;
    height: 1.4rem;
}

.listingTableProgress {
    line-height: 90px;
}

.listingTableProgress .inside {
    margin-top: 10px;
}

.listingTable__header,
.listingTable__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listingTable__header {
    border-bottom: 1px solid #e3e3e3;
}

.listingTable__row {
    border-bottom: 1px dotted #e3e3e3;
}

.listingTable__cell {
    padding: 0.5rem 0.25rem;
    text-align: center;
}

.listingAsset {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.listingAssetCard {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listingAssetInfo {
    width: 40%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: -0.8rem;
}

.listingTableRank {
    width: 10%;
}

.listingTableLogo {
    width: 15%;
}

.listingTableAssetName {
    width: 75%;
    padding-left: 1.5rem;
}

.listingAssetInfoData {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listingTableVotes {
    width: calc(100% / 3);
}

.listingTableGoal {
    width: calc(100% / 3);
}

.listingTableStatus {
    width: calc(100% / 3);
}

.listingTableProgress {
    width: 25%;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.listingAssetInfoBlock {
    display: none;
}

.listingTableLogo a {
    position: relative;
    right: 1rem;
    font-size: 0.8rem;
}

@media (max-width: 1100px) {
    .listingAssetCard {
        width: 55%;
    }

    .listingAssetInfo {
        width: 45%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 900px) {
    .listingAssetCard {
        width: 50%;
    }

    .listingAssetInfo {
        width: 50%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .listingTable__cell {
        padding: 0.5rem 0;
    }

    .listingTable__header {
        display: none;
    }

    .listingAssetCard {
        width: 100%;
        justify-content: flex-end;
    }

    .listingAssetInfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: flex-end;
    }

    .listingAsset {
        flex-direction: column;
    }

    .listingTableRank {
        align-self: center;
    }

    .listingTableLogo {
        width: 15%;
    }

    .listingTableLogo a {
        position: relative;
        right: -1.5rem;
    }

    .listingTableAssetName {
        width: 75%;
        align-self: center;
        padding: 0 0 0.5rem 1rem;
    }

    .listingAssetInfoData {
        width: 75%;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .listingTableVotes {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0.5rem 1rem;
    }

    .listingTableGoal {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0.5rem 1rem;
    }

    .listingTableStatus {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0.5rem 1rem;
    }

    .listingTableProgress {
        width: 15%;
        align-self: center;
        order: 1;
    }

    .listingAssetInfoBlock {
        display: block;
    }
}

body .listing_button .ant-btn-disabled,
body .listing_button .ant-btn-disabled.active,
body .listing_button .ant-btn-disabled:active,
body .listing_button .ant-btn-disabled:focus,
body .listing_button .ant-btn-disabled:hover,
body .listing_button .ant-btn.disabled,
body .listing_button .ant-btn.disabled.active,
body .listing_button .ant-btn.disabled:active,
body .listing_button .ant-btn.disabled:focus,
body .listing_button .ant-btn.disabled:hover,
body .listing_button .ant-btn[disabled],
body .listing_button .ant-btn[disabled].active,
body .listing_button .ant-btn[disabled]:active,
body .listing_button .ant-btn[disabled]:focus,
body .listing_button .ant-btn[disabled]:hover {
    color: red !important;
    border-color: red !important;
}

@media only screen and (max-width: 768px) {
    .listingTable__cell.listingTableVotes button.ant-btn {
        position: absolute;
        right: -8%;
    }
}

@media only screen and (max-width: 468px) {
    .listingTable__cell.listingTableVotes button.ant-btn {
        position: absolute;
        right: 20px;
    }
}

.coin-soon {
    border: 1px solid grey !important;
    color: grey !important;
}

.darkTheme .listingTable__cell .icon > svg path {
    fill: white;
}
.lightTheme .listingTable__cell .icon > svg path {
    fill: white;
}

.buttonDonate .icon > svg path {
    fill: white;
}
.listingTable__cell button.ant-btn,
.buttonDonate {
    display: block;
    padding: 5px 20px;

    background-color: #349ff4 !important;

    width: 96px;
    height: 30px;

    margin-left: 5px;
}
